@media (max-width: 800px) {
    .sec-heading h2{
        font-size: 1.5rem;
    }
    .third-heading {
        font-size: 1.2rem;
    }
    .four-box-set {
        display: grid;
        grid-template-columns: repeat(1,auto);
        justify-content: space-around;
    }
}
@media (max-width: 450px) {
    .child-2-first-section-box{
        height: 399px;
    }
    .child-first-section-box{
        height: 349px;
    }
    .child-2-sec-section-box {
        height: 455px;
    }
}
@media (max-width: 560px) {
    
    .navbar li a{
        font-size: .7rem;
        padding: 0 12px;
    }
    .parent-first-section-box h1 {
        font-size: 2.5rem;
        margin: 10% 0;
    }
    .child-2-sec-section-box {
        width: 583px;
        height: 550px;
    }
    
}

@media (max-width: 520px) {

    .child-2-sec-section-box {
        height: 532px;
    }
    .parent-sec-section-box h1 {
        font-size: 3rem;
    }
    
}
@media (max-width: 1160px) {

    .child-sec-section-box {
        height: 349px;
    }
    .child-third-section-box {
        height: 349px;
    }
    
}
@media (max-width: 720px) {

    .child-sec-section-box {
        width: 90%;
        margin: 0 auto;
    }
    .child-first-section-box {
        width: 90%;
        margin: auto;
    }
    .child-2-first-section-box {
        width: 90%;
        margin: auto;
    }
    .child-2-sec-section-box {
        width: 90%;
        margin: auto;
    }
    .child-third-section-box{
        width: 90%;
        margin: auto;
    }
    .child-2-third-section-box {
        width: 90%;
        margin: auto;
    }
    
}
@media (max-width: 727px) {
    
    .navbar li a{
        font-size: .7rem;
        padding: 0 12px;
    }
    
}
@media (max-width: 590px) {
    
    .child-2-first-section-box{
        height: 500px;
    }
    
}
@media (max-width: 414px){
    .child-2-first-section-box {
    height: 400px;
    }
    .sec-heading {
        height: 100px;
    }
    .sec-heading h2 {
        font-size: 1.1rem;
    }
    .single h1 {
        font-size: 2rem;
    }
    .parent-third-section-box h1 {
        font-size: 2.5rem;
        opacity: .6;
        margin: 0;
    }
    .child-2-third-section-box {
        height: 405px;
    }
    .child-third-section-box {
        height: 239px;
    }
    .last-single-image {
        height: 140px;
    }
    .navbar {
        margin: 20px 0;
    }
    .common-btn{
        height: 25px;
        font-size: 1.1rem;
        text-align: center;
        width: 100px;
        text-decoration: none;
        background: rgb(0, 0, 0);
        padding: 10px 15px;
        color: white;
        font-weight: 300;
    }
}
@media (max-width: 590px) {
    
    .four-box-set-child {
        height: auto;
        width: auto;
    }
    
}