
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .four-box-set {
        display: grid;
        grid-template-columns: repeat(1,auto);
        justify-content: space-around;
    }
    .btn-bottom-padding{
        padding-bottom: 30px;
    }
    .sec-heading {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .child-2-first-section-box {
        margin: 0 5px;
    }
    .child-first-section-box {
        margin: 0 5px;
    }
    .child-2-sec-section-box{
        margin: 0 5px;
    }
    .child-2-third-section-box{
        margin: 0 5px;
    }
    .parent-first-section-box h1 {
        font-size: 2.5rem;
    }
    .single h1{
        font-size: 2.5rem;
    }
    .parent-sec-section-box h1 {
        font-size: 2.5rem;
    }
    .third-heading h1{
        font-size: 2.5rem;
    }
    .parent-third-section-box h1 {
        font-size: 2.5rem;
        margin: 10% 0%;
    }
    .copy-right{
        font-size: .5rem;
    }
    .common-btn{
        padding: 13px 20px;
        font-size: 1.1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .four-box-set {
        display: grid;
        grid-template-columns: repeat(1,auto);
        justify-content: space-around;
    }
    
    .sec-heading {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn-bottom-padding{
        padding-bottom: 40px;
    }
    .common-btn{
        padding: 13px 20px;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .four-box-set {
        display: grid;
        grid-template-columns: repeat(2,auto);
        justify-content: space-around;
    }
    .btn-bottom-padding{
        padding-bottom: 30px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
@media only screen and (min-width: 1166px) {
    .four-box-set {
        margin-bottom: 90px;
    }
}
