*{
    margin: 0 5px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* hello */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #171748;
    padding: 0 25px;
    transition: 0.3s;
    box-shadow: 0px 1px 14px 0px;
}
.logo a{
    display: block;
}
.logo a img{
    display: block;
    width: 100%;    
    height: 50px;
    padding: 8px
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: .5s;
}
.menu li{
    list-style-type: none;
}

.menu li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 40px 25px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
    
}
.menu li a:hover{
    box-shadow: 0 -5px 0 white inset,
     500px 0 0 rgba(255, 255, 255, 0.03) inset;
    padding:35px 25px 45px 25px ;
}
.hamburger{
    position: relative;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: .3s;
}
.hamburger:before,
.hamburger:after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transition: .3s;
}
.hamburger:before{
    top: -10px;
    width: 20px;
}
.hamburger:after{
    top: 10px;
    width: 25px;
}
.toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    margin-left: 6px;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}
.hamburger, .toggle-menu{
    display: none;

}
.navigation input:checked ~.hamburger{
    background: transparent;
}
.navigation input:checked ~.hamburger:before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}
.navigation input:checked ~.hamburger:after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}
.navigation input:checked ~ .menu{
    right: 0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
}
@media (max-width:992px) {
    .hamburger, .toggle-menu{
        display: block;
    
    }
    .header{
        padding: 10px 20px;
    }
    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background: #171748;
        width: 300px;
        height: 100%;
        padding-top: 65px;
    }
    .menu li{
        width: 100%;
    }
    .menu li a, .menu li a:hover{
        padding: 30px;
        font-size: 24px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1)inset;
    }
}
.parent-first-section-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.child-first-section-box{
    position: relative;
    width: 583px;
    opacity: .67;
}
.parent-first-section-box h1{
    font-size: 4rem;
    margin: 10% 0;
}
h1{
     text-shadow: 6px 6px 14px #9b9595;
}
.child-2-first-section-box img{
    width: 100%;
}
.child-2-first-section-box{
    width: 583px;
}
.sec-heading{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sec-heading h2{
    font-size: 2.0rem;
    opacity: .70;
}
.single{
    width: 60%;
    margin: auto;
    position: relative;
    opacity: .67;
}
.single h1{
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 3rem;
    text-align: center;

}
.single p{
    padding: 0 4%;
    text-align: center;
    font-size: 19px
}
/* parent and child sec section division */
.parent-sec-section-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
}
.child-sec-section-box{
    position: relative;
    width: 583px;
    opacity: .67;
    padding-left: 5px;
}
.parent-sec-section-box h1{
    font-size: 4rem;
    opacity: .7;
    margin: 12% 0%;
}

.child-sec-section-box p{
    font-size: 19px;
    opacity: .67;
}
.child-2-sec-section-box img{
    width: 100%;
}
.child-2-sec-section-box{
    width: 583px;
}
.common-btn{
    height: 25px;
    font-size: 1.2rem;
    text-align: center;
    width: 100px;
    text-decoration: none;
    background: rgb(0, 0, 0);
    padding: 13px 29px;
    color: white;
    font-weight: 300;
}

.third-heading{
    text-align: center;
    font-size: 1.6rem;
    margin-top: 7%;
    margin-bottom: 3%;
    opacity: .7;
}
.four-box-set{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: space-around;
    
}
.four-box-set-child{
    width: 366px;
    padding: 2% 7%;
}
.four-box-set-child h2{
    margin: 16px 0;
    font-size: 25px;
    opacity: .7;
}
.four-box-set-child p{
    font-size: 20px;
    opacity: .67;
}
/* third section boxes */
.parent-third-section-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.child-third-section-box{
    position: relative;
    padding: 5px;
    width: 583px;
    /* opacity: .67; */
}
.parent-third-section-box h1{
    font-size: 4rem;
    opacity: .7;
    margin: 10% 2%;
}
.child-2-third-section-box img{
    width: 100%;
}
.child-2-third-section-box{
    width: 583px;
}
.child-third-section-box p{
    font-size: 19px;
    opacity: .67;
}
/* last images div */
.last-images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.last-single-image{
    width: 244px;
    padding: 7px;
}
.last-single-image img{
    width: 100%;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer i{
    font-size: 1.5rem;
    padding: 16px 20px;
}
.copy-right{
    text-align: center; 
    padding-bottom: 100px; 
    opacity: .75;
}
.opacity-btn{
    opacity: .7;
}
